# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# ==========================
# Virtual Environment
# ==========================
.venv/
venv/
env/

# ==========================
# Environment Variables
# ==========================
.env

# ==========================
# Vector Database
# ==========================
vector_store/

# ==========================
# Cloned GitHub Repositories
# ==========================
repositories/

# ==========================
# IDE
# ==========================
.idea/
.vscode/

# ==========================
# Operating System
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Build
# ==========================
dist/
build/
backend/data/
backend/repositories/
backend/vector_store/


